
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">Easy-planif</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                Calendar
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/calendar">personal calendar</a></li>
                <li><a class="dropdown-item" href="/global_calendar">global calendar</a></li>
                <li><a class="dropdown-item" href="/planning">planning</a></li>
                <li><a class="dropdown-item" href="/reservations">reservations</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="true">
                Authorizations
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item" href="/authorizations">authorizations</a></li>
                <li><a class="dropdown-item" href="/comments">comments</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="true">
                HR
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                <li><a class="dropdown-item" href="/time_entry">time entry</a></li>
                <li><a class="dropdown-item" href="/salary_entry">salary_entry</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="true">
                Setup
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                <li><a class="dropdown-item" href="/users">users</a></li>
                <li><a class="dropdown-item" href="/tasks">tasks</a></li>
                <li><a class="dropdown-item" href="/bookingTypes">booking type</a></li>
                <li><a class="dropdown-item" href="/commentTypes">comment type</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Log Out</button>
            </form>
        </div>
     </div>
</nav>