{% load static %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <title>Django Calendar App</title>
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
  <div class="container">
  {% if user.is_authenticated %}
  {% include "menu.html" %}
  <div class="clearfix">
  <a href="addAuthorization">Add Authorization</a>
  </div>
  <div class="clearfix">
  <table class="table"><tr><th>User</th><th>Task</th></tr>
  {{ authorizations }}
  </table>
  </div>
  {% endif %}
  </div>
</body>
</html>
